body {
    font-family: Arial, sans-serif;
    margin: 20px;
    background-color: #fff;
    color: #333;
    transition: background-color 0.5s ease, color 0.6s ease;
}

h1 {
    color: #333;
    transition: 0.6s ease;
}

.dark-mode-switch {
    position: absolute;
    top: 10px;
    right: 10px;
}

.toggle-lable {
    display: inline-block;
    position: relative;
    width: 40px;
    height: 20px;
    background-color: #ccc;
    border-radius: 10px;
    cursor: pointer;
}

.moon, .sun {
    display: inline-block;
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    font-size: 14px;
}

.moon {
    left: 3px;
}

.sun {
    right: 5px;
}

/*verstecken des nativen checkbox stil*/
.dark-mode-switch input {
    opacity: 0;
    width: 0;
    height: 0;
}

/*Switch benutzerdefiniert*/
.dark-mode-switch label {
    display: block;
    width: 40px;
    height: 20px;
    background-color: #ccc;
    border-radius: 10px;
    position: relative;
    cursor: pointer;
}

.dark-mode-switch label::after {
    content: '';
    width: 18px;
    height: 18px;
    background-color: #fff;
    border-radius: 50%;
    position: absolute;
    left: 2px;
    top: 2px;
    transition: transform 0.5s ease;
}

.dark-mode-switch input:checked + label{
    background-color: #0a0000;
}

/*darkmode switch on transform*/
.dark-mode-switch input:checked + label::after {
    transform: translateX(20px);
}

#newTodo, button {
    margin-bottom: 10px;
}

#todoList {
    list-style-type: none;
    padding: 0;
}

.todoItem {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding: 8px;
    border-bottom: 1px solid #ccc;
}

.todoItem span {
    width: 100%;
    word-wrap: break-word;
    margin-bottom: 5px;
}

.todoItem button {
    align-self: flex-end;
    margin-left: 5px;
}

.abgeschlossen {
    background-color: rgb(0, 255, 0);
}

.inArbeit {
    background-color: orange;
}

.deleteButton {
    align-self: flex-start;
}
